<div>
  <h2>Upload Materials</h2>

  <div>
    <input type="file" (change)="selectFile($event)" />
    <button (click)="upload()" [disabled]="!selectedFiles">Upload</button>
    <div>{{ percentage }}%</div>
  </div>

  <div *ngIf="fileUploads && fileUploads.length > 0">
    <h3>Uploaded Files</h3>
    <ul>
      <li *ngFor="let fileUpload of fileUploads">
        <a [href]="fileUpload.url" target="_blank">{{ fileUpload.name }}</a>
        <button (click)="deleteFileUpload(fileUpload)">Delete</button>
      </li>
    </ul>
  </div>

  <div *ngIf="loading">Loading files...</div>

  <div *ngIf="uploadStatus">
    <p>Status: {{ uploadStatus }}</p>
  </div>

  <div *ngIf="error">
    Error: {{ error }}
  </div>
</div>
