html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.materials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f5f7fa; /* Fallback to a solid color background */
  width: 100%; /* Ensure it takes the full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.materials-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 600px;
}

.materials-heading {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

.upload-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Updated CSS for the "Choose File" button */
.file-input-label {
  flex: 1;
  padding: 10px 15px; /* Adjusted padding - slightly less horizontal padding */
  font-size: 1em;
  border: 2px dotted #888; 
  border-radius: 5px;
  cursor: pointer;
  background: #ddd; /* Light grey background */
  color: #333; /* Dark grey text */
  text-align: center;
  transition: background-color 0.2s, border-color 0.2s; /* Smooth transition */
  white-space: nowrap; /* Prevent text wrapping */
  margin-right: 5px;
}

  .file-input-label:hover {
    background-color: #ccc; /* Slightly darker grey on hover */
    border-color: #666; /* Darker border on hover */
  }


.file-input {
  display: none;
}

.file-name {
  flex: 2;
  font-size: 1rem;
  color: #333;
  text-align: left;
  margin-right: 10px;
  overflow: hidden; /* Prevent text overflow */
  text-overflow: ellipsis; /* Add ellipsis for long filenames */
  white-space: nowrap; /* Keep filename on a single line */
}

.upload-btn {
  width: 100px; /* Set a smaller fixed width */
  padding: 10px 20px; /* Adjusted padding */
  font-size: 1em; /* Adjusted font size */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #007bff;
  color: white;
  text-align: center;
}

  .upload-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

.upload-percentage {
  flex: 1;
  margin-right: 10px;
  font-size: 1rem;
  color: #666;
  text-align: right;
}

.uploaded-files-section {
  margin-top: 20px;
}

.uploaded-files-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.uploaded-files-list {
  list-style: none;
  padding: 0;
}

.uploaded-file-item {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  margin-bottom: 10px;
}

.uploaded-file-link {
  flex: 1;
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
  text-align: left; /* Align text to the left */
}

  .uploaded-file-link:hover {
    text-decoration: underline;
  }

.delete-btn {
  flex: 0 0 auto;
  padding: 5px 10px;
  background: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.loading-section,
.status-section,
.error-section {
  margin-top: 20px;
  font-size: 1rem;
  color: #666;
}

.progress-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar {
  height: 20px;
  background-color: #007bff;
  transition: width 0.5s linear; /* Increased duration and changed easing function */
}
/*Dropdowns*/
.dropdowns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.folder-selection,
.file-type-selection {
  flex: 1;
  margin-right: 10px;
}
/*remove margin right from last child*/
.file-type-selection {
  margin-right: 0;
}


.folder-dropdown,
.file-type-dropdown {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
