<p>signin works!</p>
<div class="wrapper fadeInDown">
  <div id="formContent">

    <h2 class="active"> Sign In </h2>

    <br>

    <div *ngIf="!authService.isLoggedIn">
      <!-- Show sign-in button when logged out -->
      <form>
        <input type="button"
               class="btn btnPrimary"
               value="Log in with Popup"
               (click)="authService.GoogleAuthPopup()" />
      </form>
    </div>

    <div *ngIf="authService.isLoggedIn">
      <!-- Show sign-out button when logged in -->
      <form>
        <input type="button"
               class="btn btnPrimary"
               value="Sign Out"
               (click)="authService.SignOut()" />
      </form>
    </div>

    <br>

    <div id="formFooter">
    </div>

  </div>
</div>
