.post-description-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 100px solid #f5f5f5;
  border-right: 100px solid #f5f5f5;
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.post-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.post-content {
  flex: 2;
}

.post-images {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
}

.image-wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* ensures the image respects the border radius */
}

  .image-wrapper img {
    display: block;
    max-width: 450px;
    max-height: 450px;
  }

.carousel-button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* space between button and image */
}

  .carousel-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
  }

  .carousel-button:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .carousel-button .material-icons {
    font-size: 24px;
  }


.responses {
  margin-top: 10px;
}

.response-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.response-content {
  flex-grow: 1;
}

.response-votes {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

  .response-votes .material-icons.response-arrow {
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;
  }

  .response-votes span {
    font-size: 0.9em;
  }

.response-form {
  margin-top: 1px;
}

  .response-form .form-group {
    display: flex;
    align-items: center;
  }

  .response-form input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.post-buttons {
  margin-top: 10px;
}

  .post-buttons .btn {
    margin-right: 10px;
  }

.edit-post-form {
  margin-top: 20px;
}

  .edit-post-form .form-group {
    margin-bottom: 10px;
  }

    .edit-post-form .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .edit-post-form .form-group input,
    .edit-post-form .form-group select,
    .edit-post-form .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
